.list-header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;
}
.list-header .nav{
    height: 100%;
    float: left;
}
.list-header .nav a{
    display: inline-block;
    height: 100%;
    margin-right: 28px;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
}
.list-header .nav a.active{
    font-weight: 900;
    border-bottom: 2px solid #6e8cfb;
}
.list-header .nav a:hover{
    color: #999;
}
.list-header .search{
    height: 100%;
    float: right;
}
.list-header .search .input{
    position: relative;
    height: 100%;
    border-radius: 3px;
}
.list-header .search .input input{
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
    font-size: 14px;
    font-weight: 200;
    margin-left: 15px;
    width: 200px;
    background: rgba(0,0,0,0);
    border: none;
}
.list-header .search .input em{
    display: inline-block;
    width: 20px;
    height: 100%;
    background: url(http://7rflu9.com1.z0.glb.clouddn.com/v3/public/search.png) no-repeat center;
    background-size: 20px;
    background-position: 0 16px;
    margin-top: 2px;
}
.list-header .search .input i{
    position: absolute;
    display: inline-block;
    visibility: hidden;
    right: 12px;
    width: 25px;
    height: 25px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fenter-key.png) no-repeat center;
    background-size: 14px 16px;
    top: 18px;
}
.list-header .search .input input:focus{
    outline: none;
    border: none;
}
.list-header .search .input input:focus+i{
    visibility: visible;
}
/*列表size start */
.list-header .list-size{
    height: 100%;
    padding: 9px 0;
    float: left;
}
.list-header .list-size a{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 22px;
    border-radius: 2px;
    padding: 0 5px;
    font-weight: 900;
}
.list-header .list-size a:hover,
.list-header .list-size a.active{
    background: #333;
    color: #fff;
}
/*列表size end */
.list-body{
    min-height: 445px;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.list-body table{
    width: 100%;
    border-spacing: 0;
}
.list-body table thead{
    width: 100%;
    line-height: 40px;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.list-body table thead th:nth-child(1){
    padding: 0 20px;
}
.list-body table thead th{
    text-align: left;
}
.list-body table thead th span{
    font-size: 12px;
    color: #333;
}
.list-body table thead th.orderable{
    cursor: pointer;
}
.list-body table thead th.orderable em{
    display: inline-block;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficon-button.png) no-repeat;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-right: 5px;
    background-position: -96px -64px;
}
.list-body table thead th.orderable.asc em{
    background-position: -73px -64px;
}
.list-body table thead th.orderable.desc em{
    background-position: -85px -64px;
}
.list-body table tbody tr{
    animation: fadeIn 0.7s linear 0s normal forwards;
    -webkit-animation: fadeIn 0.7s linear 0s normal forwards;
    -moz-animation: fadeIn 0.7s linear 0s normal forwards;
}
.list-body table tbody tr:nth-child(2n+1){
    background: #f2f3f5;
}
.list-body table tbody tr:hover{
    background: #eee;
}
.list-body table tbody td{
    font-size: 12px;
    color: #666;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
}
.list-body table tbody td div{
    line-height: inherit;
    white-space: inherit;
    font-size: inherit;
}
.list-body table tbody td a{
    line-height: inherit;
    white-space: inherit;
    font-size: inherit;
}
.list-body table tbody td span{
    font-size: inherit;
    line-height: inherit;
}
.list-body table tbody td.title{
    padding: 0 20px;
    max-width: 200px;
    text-overflow: ellipsis;
}
.list-body table tbody td.title.active{
    cursor: pointer;
}
.list-body table tbody td.title.active:hover{
    opacity: .7;
}
.list-body table tbody tr .title.new:before{
    content: ' ';
    display: inline-block;
    height: 7px;
    width: 7px;
    vertical-align: 2px;
    margin-right: 7px;
    border-radius: 50%;
    background: #6e8cfb;
}
.list-body table tbody .title.new{
    font-weight: 900 ;
}
.list-body table tbody td.publish em{
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -7px;
    margin-right: 5px;
    background: url(https://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-size: 90px;
}
.list-body table tbody td.publish.now em{
    background-position:0 1px;
}
.list-body table tbody td.publish.cancel em{
    background-position: 0 -23px;
    background-size: 92px;
}
.list-body table tbody td.publish.time em{
    background-position:-46px 2px;;
}
.list-body table tbody td.publish span{
    color: #666;
}
.list-body table tbody td.publish.now:after{
    content:'已发布';
    display: inline-block;
}
.list-body table tbody td.publish.cancel:after{
    content:'未发布';
    display: inline-block;
}
.list-body table tbody td.publish.time:after{
    content:'定时发布';
    display: inline-block;
}
.list-body table tbody td.handle div.hide{
    visibility: hidden;
}
.list-body table tbody td.handle a{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    cursor: pointer;
}
.list-body table tbody td.handle a:hover{
   opacity: .8;
}
.list-body table tbody td.handle a em{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -5px;
    margin-right: 5px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-size: 40px;
}
.list-body table tbody td.handle a.post em{
    background-position: -22px 3px;
    background-size: 90px;
}
.list-body table tbody td.handle a.edit em{
    background-position: -20px -43px;
    background-size: 88px;
}
.list-body table tbody td.handle a.del em{
    background-position: -19px -20px;
    background-size: 88px;
}
.list-body table tbody td.handle a.preview em{
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Feye.png) no-repeat center;
    background-size: 18px;
    background-position: 0 -1px;
}
.list-body table tbody td.handle a.recovery em{
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Frecovery-icon.png) no-repeat center;
    background-size: 16px;
    background-position: 2px 1px;
}
.list-body table tbody td.handle a span{
    color: #666;
}

.list-footer{
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.list-footer .page-info{
    display: inline-block;
    float: left;
    height: 100%;
    width: 100px;
    text-align: center;
}
.list-footer .page-info p{
    font-size: 12px;
    line-height: 40px;
    color: #333;
}
.list-footer .page-info p span{
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
.list-footer .page-size{
    float: left;
    height: 100%;
    width: 160px;
}
.list-footer .page-size p{
    display: inline-block;
    font-size: 12px;
    height: 100%;
    line-height: 40px;
    color: #333;
}
.list-footer .page-size span{
    display: inline-block;
    font-size: inherit;
    vertical-align: top;
    height: 100%;
    padding: 7px 5px;
}
.list-footer .page-size span a{
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    padding: 3px;
    line-height: 20px;
    border-radius: 3px;
    cursor: pointer;
}
.list-footer .page-size span a:hover{
    color: #6e8cfb;
}
.list-footer .page-size span a.active{
    background: #333;
    color: #fff;
}
.list-footer .pagination{
    float: right;
    height: 100%;
    min-width: 200px;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.list-footer .pagination a.btn{
    display: inline-block;
    height: 100%;
    width: 40px;
    padding: 7px;
}
.list-footer .pagination a.btn em{
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    height: 26px;
    width: 20px;
    border-radius: 3px;
    opacity: .5;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fpagination-icon.png) no-repeat center;
    background-size: 30px;
}
.list-footer .pagination a.btn em.prev{
    background-position: -14px -14px;;
}
.list-footer .pagination a.btn em.next{
    background-position: 3px 5px;
}
.list-footer .pagination a.active.btn em{
    cursor: pointer;
    opacity: 1;
}
.list-footer .pagination a.btn.active em.prev:hover{
    background-color: #333;
    background-position: 3px -14px;
}
.list-footer .pagination a.btn.active em.next:hover{
    background-color: #333;
    background-position: -12px 5px;
}
.list-footer .pagination a.hide{
    visibility: hidden;
}
.list-footer .pagination span{
    display: inline-block;
    vertical-align: top;
    padding: 7px 0;
    height: 100%;
    min-width: 270px;
    text-align: center;
}
.list-footer .pagination span a{
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    padding: 3px 6px;
    line-height: 20px;
    border-radius: 3px;
    cursor: pointer;
}
.list-footer .pagination span a:hover{
    color: #6e8cfb;
}
.list-footer .pagination span a.active{
    background: #333;
    color: #fff;
}
.list-footer .pagination span a.disable:hover{
    background-color: #fff;
    color: #333;
    cursor: default;
}
/*侧栏start*/
.pop-container{
    position: fixed;
    top: 0;
    padding-top: 40px;
    right: -100%;
    height: 100%;
    z-index: 10;
    box-shadow: -4px 43px 10px rgba(0,0,0,.07);
    -webkit-transition: right 0.4s ease-out;
    -moz-transition: right 0.4s ease-out;
    transition: right 0.4s ease-out;
}
.pop-container.article,
.pop-container.post{
     right: 0;
}
/*发布侧栏start*/
.pop-container.post .post{
    display: block;
}
.pop-container .post{
    display: none;
    width: 400px;
    height: 100%;
    padding: 20px 40px;
    background: rgba(255,255,255,1);
    overflow: auto;
}
.pop-container .post::-webkit-scrollbar-track-piece{background-color:#fff;}
.pop-container .post::-webkit-scrollbar{width:3px;}
.pop-container .post::-webkit-scrollbar-thumb{background:#fff;}
.pop-container .post:hover::-webkit-scrollbar-thumb{background:#999;}
.pop-container .post .header{
    width: 100%;
    height: 30px;
}
.pop-container .post .header h3{
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    height: 30px;
}
.pop-container .post .header h3 em{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    background: url(https://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-position: -22px 2px;
    background-size: 110px;
}
.pop-container .post .header h3 span{
    vertical-align: top;
    line-height: inherit;
    font-size: inherit;
}
.pop-container .post .header a{
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 28px;;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    float: right;
    -webkit-transition: transform 0.1s ease-in;
    -moz-transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
}
.pop-container .post .header a:hover{
    transform: rotate(75deg);
    -ms-transform: rotate(75deg);		/* IE 9 */
    -webkit-transform: rotate(75deg);	/* Safari and Chrome */
    -moz-transform: rotate(75deg);		/* Firefox */
}
.pop-container .post .category{
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 50px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    z-index: 1;
}
.pop-container .post .category h5{
    display: inline-block;
    color: #333;
    font-size: inherit;
    line-height: 30px;
    float: left;
}
.pop-container .post .category p{
    line-height: 30px;
    font-size: inherit;
    color: #999;
    float: right;
    cursor: pointer;
}
.pop-container .post .category p span{
    line-height: inherit;
    color: inherit;
    font-size: inherit;
}
.pop-container .post .category p em{
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: top;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficonfont-down.png) no-repeat center;
    background-size: 14px;
    -webkit-transition: transform 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}
.pop-container .post .category.active p em{
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}
.pop-container .post .category ul{
    position: absolute;
    right: 0;
    top: 30px;
    width: 120px;
    background: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: -4px 10px 10px rgba(0,0,0,.07);
    display: none;
}
.pop-container .post .category ul li{
    display: inline-block;
    width: 100%;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    color: #999;
    text-align: left;
    padding: 0 20px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
}
.pop-container .post .category ul li:hover{
    background: #999;
    color: #fff;
}
.pop-container .post .category.active ul{
    display: inline-block;
}

.pop-container .post .type{
    width: 100%;
    margin-top: 50px;
}
.pop-container .post .type ul{
    display: inline-block;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eee;
}
.pop-container .post .type ul li{
    display: inline-block;
    width: 33%;
    height: 100%;
    text-align: center;
    font-size: 12px;
    color: #999;
    padding: 0 15px;
    cursor: pointer;
}
.pop-container .post .type ul li p{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.pop-container .post .type ul li p em{
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: top;
}
.pop-container .post .type ul li p em.flash{
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fflash-128.png) no-repeat center;
    background-size: 22px;
}
.pop-container .post .type ul li p em.clock{
    background: url(https://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-position: -48px 9px;
    background-size: 110px;
}
.pop-container .post .type ul li p em.cancel{
    background: url(https://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-position: -52px -50px;
    background-size: 114px;
}
.pop-container .post .type ul li span{
    display: inline-block;
    height: 15px;
    width: 100%;
    line-height: 15px;
    color: #999;
    font-size: 12px;
}
.pop-container .post .type ul li:hover{
    opacity: .7;
}
.pop-container .post .type ul li.active{
    border-bottom: 2px solid #6e8cfb;;
}
.pop-container .post .time{
    visibility: hidden;
    width: 100%;
    padding:  20px 0 10px;
    border-bottom: 1px solid #eee;
}
.pop-container .post .time .next,
.pop-container .post .time .prev{
    visibility: hidden !important;
}
.pop-container .post .time .picker-container{
    width: 220px;
    margin: 0 auto;
}
.pop-container .post .time .picked{
    width: 100%;
    text-align: center;
}
.pop-container .post .time .picked p{
    display: inline-block;
    font-size: 14px;
    color: #999;
    text-align: center;
    line-height: 30px;
}
.pop-container .post .time.active{
    visibility: visible;
}
.pop-container .post .time.active .next,
.pop-container .post .time.active .prev{
    visibility: visible !important;
}
.pop-container .post .confirm{
    margin-top: 30px;
    width: 100%;
}
.pop-container .post .confirm div{
    float: left;
    width: 50%;
    height: 70px;
    overflow: hidden;
    text-align: center;
}
.pop-container .post .confirm div a{
    display: inline-block;
    width: 40px;
    height: 70px;
    cursor: pointer;
    overflow: hidden;
}
.pop-container .post .confirm div a em{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-size: 140px;
}
.pop-container .post .confirm div a em.yes{
    background-position:  8px 8px;;
}
.pop-container .post .confirm div a em.no{
    background-position:  8px -27px;;
}
.pop-container .post .confirm div a:hover{
    opacity: .6;
}
.pop-container .post .confirm div a span{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: 12px;
    font-size: 12px;
    color: #999;
}
/*发布侧栏end*/
/*文章详情侧栏start*/
.pop-container.article .article{
    display: block;
}
.pop-container .article{
    display: none;
    position: relative;
    width: 1180px;
    height: 100%;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
}
.pop-container .article .header{
    width: 100%;
    height: 30px;
}
.pop-container .article .header h3{
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    height: 30px;
}
.pop-container .article .header h3 em{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    background: url(https://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-position: -24px -56px;
    background-size: 116px;
}
.pop-container .article .header h3 span{
    vertical-align: top;
    color: #333;
    line-height: inherit;
    font-size: inherit;
}
.pop-container .article .header a{
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 28px;;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    float: right;
    -webkit-transition: transform 0.1s ease-in;
    -moz-transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
}
.pop-container .article .header a:hover{
    transform: rotate(75deg);
    -ms-transform: rotate(75deg);		/* IE 9 */
    -webkit-transform: rotate(75deg);	/* Safari and Chrome */
    -moz-transform: rotate(75deg);		/* Firefox */
}
.pop-container .article .left::-webkit-scrollbar-track-piece{background-color:#fff;}
.pop-container .article .left::-webkit-scrollbar{width:3px;}
.pop-container .article .left::-webkit-scrollbar-thumb{background:#fff;}
.pop-container .article .left:hover::-webkit-scrollbar-thumb{background:#999;}
.pop-container .article .left{
    height: 100%;
    width: 300px;
    border-right: 1px solid #eee;
    padding: 0 20px 90px 0;
    overflow: auto;
    float: left;
}
.pop-container .article .left .title,
.pop-container .article .left .summary{
    width: 100%;
    margin-top: 20px;
}
.pop-container .article .left .title .name,
.pop-container .article .left .summary .name{
    width: 100%;
    height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.pop-container .article .left .title .name p,
.pop-container .article .left .summary .name p{
    display: inline-block;
    float: left;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}
.pop-container .article .left .summary .textarea,
.pop-container .article .left .title .textarea{
    width: 100%;
    padding: 20px 0;
}
.pop-container .article .left .title .textarea textarea,
.pop-container .article .left .summary .textarea textarea{
    display: inline-block;
    color: #666;
    padding: 0;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    height: 90px;
    text-align: left;
    resize: none;
    border: none;
}
.pop-container .article .left .summary .textarea textarea{
    height: 200px;
}
.pop-container .article .left .title .textarea textarea:focus,
.pop-container .article .left .summary .textarea textarea:focus{
    outline: none;
}
.pop-container .article .left textarea::-webkit-input-placeholder,
.pop-container .article .left input::-webkit-input-placeholder{
    color: #ccc;
    line-height: 28px;
    font-size: 12px;
}
.pop-container .article .left textarea::-moz-placeholder,
.pop-container .article .left input::-moz-placeholder{
    color: #ccc;
    line-height: 28px;
    font-size: 12px;
}
.pop-container .article .left textarea:-moz-placeholder,
.pop-container .article .left input:-moz-placeholder{
    color: #ccc;
    line-height: 28px;
    font-size: 12px;
}
.pop-container .article .left textarea:-ms-input-placeholder,
.pop-container .article .left input:-ms-input-placeholder{
    color: #ccc;
    line-height: 28px;
    font-size: 12px;
}
.pop-container .article .left .image{
    width: 100%;
}
.pop-container .article .left .image .name{
    width: 100%;
    height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.pop-container .article .left .image .name p{
    display: inline-block;
    float: left;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}
.pop-container .article .left .image .preview{
    width: 100%;
    height: 120px;
    padding: 15px 0;
    overflow: hidden;
}
.pop-container .article .left .image .preview .img{
    position: relative;
    height: 90px;
    width: 160px;
    border-radius: 3px;
    border: 1px dashed #eee;
    float: left;
}
.pop-container .article .left .image .preview .img img{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.pop-container .article .left .image .preview .img input{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.001;
    left: 0;
    top: 0;
    z-index: 3;
    cursor: pointer;
}
.pop-container .article .left .image .preview .img .process{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .8;
    left: 0;
    top: 0;
    z-index: 5;
    visibility: hidden;
}
.pop-container .article .left .image .preview .img.loading .process{
    visibility: visible;
}
.pop-container .article .left .image .preview .img .process p{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    margin-top: 38px;
    color: #666;
    text-align: center;
}
.pop-container .article .left .image .preview .img .close{
    display: inline-block;
    position: absolute;
    top: -7px;
    right: -9px;
    width: 16px;
    height: 16px;
    line-height: 12px;
    font-size: 14px;
    border: 1px dotted #ccc;
    color: #ccc;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    z-index: 1;
}
.pop-container .article .left .image .preview .img .close:hover{
    color: #999;
}
.pop-container .article .left .tag{
    width: 100%;
}
.pop-container .article .left .tag .name{
    width: 100%;
    height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.pop-container .article .left .tag .name p{
    display: inline-block;
    float: left;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}
.pop-container .article .left .tag .name span{
    display: inline-block;
    float: left;
    line-height: 20px;
    font-size: 12px;
    margin-left: 20px;
    color: #ccc;
}
.pop-container .article .left .tag .tags{
    width: 100%;
    height: 120px;
    padding: 20px 0;
}
.pop-container .article .left .tag .tags span{
    display: inline-block;
    float: left;
    border-radius: 2px;
    margin: 0 5px 5px 0;
    padding: 4px 4px 3px 10px;
    background-color: #999;
}
.pop-container .article .left .tag .tags span p{
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.pop-container .article .left .tag .tags span em{
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    vertical-align: top;
    padding: 0 3px 0 5px;
    cursor: pointer;
}
.pop-container .article .left .tag .tags span em:hover{
    color: #333;
}
.pop-container .article .left .tag .tags input{
    display: inline-block;
    color: #666;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    width: 140px;
    height: 27px;
    border: none;
    margin-left: 3px;
    float: left;
}
.pop-container .article .left .tag .tags input:focus{
    outline: none;
}
.pop-container .article .right{
    height: 100%;
    width: 800px;
    padding: 0 0 90px 60px;
    float: right;
}
.pop-container .article .right .editor::-webkit-scrollbar-track-piece{background-color:#fff;}
.pop-container .article .right .editor::-webkit-scrollbar{width:3px;}
.pop-container .article .right .editor::-webkit-scrollbar-thumb{background:#fff;}
.pop-container .article .right .editor:hover::-webkit-scrollbar-thumb{background:#999;}
.pop-container .article .right .editor{
    width: 100%;
    height: 100%;
    overflow: auto;
    min-height: 300px;
    padding-right: 20px;
}
.pop-container .article .confirm{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    border-top: 1px solid #eee;
    float: left;
    text-align: center;
    z-index: 1;
}
.pop-container .article .confirm div{
    display: inline-block;
    width: 25%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.pop-container .article .confirm div a{
    display: inline-block;
    width: 40px;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.pop-container .article .confirm div a em{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-size: 140px;
}
.pop-container .article .confirm div a em.yes{
    background-position:  8px 8px;;
}
.pop-container .article .confirm div a em.no{
    background-position:  8px -27px;;
}
.pop-container .article .confirm div a:hover{
    opacity: .6;
}
.pop-container .article .confirm div a span{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: 12px;
    font-size: 12px;
    color: #999;
}
/*文章详情侧栏end*/
/*侧栏end*/