.box-container{
    position: relative;
    border: 1px solid #eee;
    height: 420px;
    margin: 30px 0;
    overflow: hidden;
}
.box-container .table{
    width: 100%;
    height: 350px;
}
.box-container .table .name{
    width: 30%;
}
.box-container .table .count{
    width: 30%;
}
.box-container .table .display{
    width: 25%;
}
.box-container .table .del{
    width: 15%;
}
.box-container .table .header{
    width: 100%;
    height: 40px;
    background: #eee;
    padding: 0 0 0 20px;
}
.box-container .table .header div{
    float: left;
    padding:  0 10px;
}
.box-container .table .header div p{
    display: inline-block;
    width: 100%;
    line-height: 40px;
    color: #666;
}
.box-container .table .list-body{
    position: relative;
    width: 100%;
    padding: 52px 0 0 0;
}
.box-container .table .list-body .item.default{
    position: absolute;
    left: 0;
    top: 2px;
    margin: 0;
    background: #f5f5f5;
}
.box-container .table .list-body .item{
    width: 100%;
    height: 50px;
    overflow: hidden;
    padding: 0 0 0 10px;
    margin-top: 2px;
    background: #f9f9f9;
    cursor: pointer;
}
.box-container .table .list-body .item>div{
    float: left;
    height: 100%;
    padding:  0 10px;
}
.box-container .table .list-body .item .name p{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-container .table .list-body .item .name p.normal{
    padding-left: 10px;
}
.box-container .table .list-body .item .name p.normal span{
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: #666;
    font-weight: 900;
}
.box-container .table .list-body .item .name p.normal em{
    display: none;
    float: left;
    width: 30px;
    height: 30px;
    vertical-align: top;
    background: url(https://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-position: -20px -46px;
    background-size: 100px;
}
.box-container .table .list-body .item .name p.edit{
    display: none;
}
.box-container .table .list-body .item .name p.edit input{
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: #666;
    font-weight: 900;
    border: none;
    width: 160px;
    padding:  0 10px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
}
.box-container .table .list-body .item .name p.edit input:focus{
    outline: none;
}
.box-container .table .list-body .item .name p.edit a{
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
    margin-left: 8px;
    background: url(https://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-size: 100px;
}
.box-container .table .list-body .item .name p.edit a.confirm{
    background-position: 10px 8px;
}
.box-container .table .list-body .item .name p.edit a.cancel{
    background-position: 7px -17px;
}
.box-container .table .list-body .item .name p.edit a:hover{
    opacity: .7;
}
.box-container .table .list-body .item:hover .name .normal em{
    display: block;
}
.box-container .table .list-body .item .name.edit .normal{
    display: none;
}
.box-container .table .list-body .item .name.edit .edit{
    display: block;
}
.box-container .table .list-body .item .count p{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 30px;
    color: #666;
    overflow: hidden;
}
.box-container .table .list-body .item .count p span{
    color: #f06292;
    margin: 0 5px;
}
.box-container .table .list-body .item .display{

}
.box-container .table .list-body .item .display .slider{
    margin-top: 17px;
    float: left;
    width: 30px;
    height: 16px;
    background: #ddd;
    border-radius: 2px;
    cursor: pointer;
    transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
}
.box-container .table .list-body .item .display .slider span{
    display: inline-block;
    width: 18px;
    height: 16px;
    padding: 2px;
    transition: margin .2s ease-out;
    -moz-transition: margin .2s ease-out;
    -webkit-transition: margin .2s ease-out;
}
.box-container .table .list-body .item .display .slider span em{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 1px;
    font-size: 12px;
    vertical-align: top;
    text-align: center;
}
.box-container .table .list-body .item .display .slider.true{
    background: #6e8cfb;
}
.box-container .table .list-body .item .display .slider.true span{
    margin-left: 12px;
}
.box-container .table .list-body .item .del.disable{
    opacity: .6;
    cursor: not-allowed;
}
.box-container .table .list-body .item .del.disable p:hover{
    text-decoration: none;
}
.box-container .table .list-body .item .del p{
    line-height: 50px;
    color: #666;
}
.box-container .table .list-body .item .del p:hover{
    text-decoration: underline;
}

.box-container .add{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60px;
    margin-bottom: 8px;
    padding: 15px 20px;
    text-align: center;
    z-index: 1;
}
.box-container .add a{
    display: inline-block;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    color: #999;
    cursor: pointer;
    -webkit-transition: transform 0.4s ease-in;
    -moz-transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
}
.box-container .add a:hover{
    color: #333;
}
.box-container .add .input{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0;
    overflow: hidden;
    height: 30px;
    background: #f5f5f5;
    margin-right: 5px;
    -webkit-transition: width 0.4s ease-out;
    -moz-transition: width 0.4s ease-out;
    transition: width 0.4s ease-out;
}
.box-container .add input{
    display: inline-block;
    width: 90%;
    height: 30px;
    border: none;
    background: #f5f5f5;
    vertical-align: top;
    font-size: 14px;
    color: #999;
}
.box-container .add input+em{
    position: absolute;
    display: inline-block;
    visibility: hidden;
    right: 12px;
    width: 25px;
    height: 25px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fenter-key.png) no-repeat center;
    background-size: 14px 16px;
    margin-top: 2px;
}
.box-container .add input:focus{
    outline: none;
}
.box-container .add input:focus+em{
    visibility: visible;
}

.box-container .cover{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.8);
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}

.box-container.add .cover{
    visibility: visible;
    opacity: 1;
}
.box-container.add .table{
    -webkit-filter: blur(2px);
}
.box-container.add .cover{
    visibility: visible;
    opacity: 1;
}
.box-container.add .add a{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);		/* IE 9 */
    -webkit-transform: rotate(45deg);	/* Safari and Chrome */
    -moz-transform: rotate(45deg);		/* Firefox */
}
.box-container.add .add .input{
    width: 50%;
}

.delete-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 6;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}
.delete-container.active{
    visibility: visible;
    opacity: 1;
}
.delete-container .wrap{
    width: 400px;
    height: 500px;
    margin: 0 auto;
}
.delete-container .wrap .delete{
    height: 400px;
    margin-top: 100px;
    width: 100%;
    background: #fefefe;
    box-shadow: 0 0 10px 0 #ccc;
}
.delete-container .wrap .delete h3{
    display: inline-block;
    width: 100%;
    line-height:46px;
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
    color: #333;
}
.delete-container .wrap .delete span,
.delete-container .wrap .delete p{
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    line-height: 22px;
    text-align: center;
}
.delete-container .wrap .delete p{
    color: #aaa;
    padding: 0 30px;
    width: 100%;
}
.delete-container .wrap .delete span{
    color: #f06292;
}
.delete-container .wrap .delete .list{
    width: 100%;
    height: 200px;
    margin-top: 16px;
}
.delete-container .wrap .delete .list .content{
    width: 100%;
    padding: 5px 40px;
    border-top: 1px solid #eee;
}
.delete-container .wrap .delete .list .content a{
    display: block;
    width: 100%;
    height: 38px;
    overflow: hidden;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.delete-container .wrap .delete .list .content a span{
    display: inline-block;
    line-height: 38px;
    color: #999;
    float: left;
}
.delete-container .wrap .delete .list .content a.active em{
    display: inline-block;
    height: 30px;
    width: 20px;
    float: right;
    vertical-align: -7px;
    margin-right: 5px;
    background: url(https://dn-t2ipo.qbox.me/v3%2Fpublic%2Ficons.png) no-repeat center;
    background-size: 90px;
    background-position: 0 10px;
}
.delete-container .wrap .delete .list .content a:hover{
    background: #f5f5f5;
}
.delete-container .wrap .delete .btn{
    width: 100%;
    height: 100px;
    padding: 35px;
    text-align: center;
}
.delete-container .wrap .delete .btn a{
    display: inline-block;
    line-height: 30px;
    width: 40%;
}
.delete-container .wrap .delete .btn a.cancel{
    cursor: pointer;
}
.delete-container .wrap .delete .btn a.cancel:hover{
    text-decoration: underline;
}
.delete-container .wrap .delete .btn a.confirm{
    color: #aaa;
    cursor: not-allowed;
}
.delete-container .wrap .delete .btn a.confirm.active{
    color: #000;
    cursor: pointer;
}
.delete-container .wrap .delete .btn a.confirm.active:hover{
    text-decoration: underline;
}