html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, bdi, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
    font-style: inherit;
    font-weight: inherit;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border:0;
}
figure{
    margin: 5px 0;
}

li,a{
    overflow:hidden;
}

a{
    text-decoration:none;
}

li{
    list-style-type:none;
    float:left;
}

i {
    font-style:normal;
}
html{
    display: block;
}
body{
    margin: 0;
    padding: 0;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: #fff;
    color: #555;
    font-size: 14px;
}
/*默认隐藏*/
.default-hide{
    display: none !important;
}
/*背景过渡动画*/
.pub-background-transition{
    transition: background .4s;
    -moz-transition: background .4s; /* Firefox 4 */
    -webkit-transition: background .4s; /* Safari 和 Chrome */
}
/*Fade 动画*/
.pub-fade-transition{
    transition: opacity .4s;
    -moz-transition: opacity .4s; /* Firefox 4 */
    -webkit-transition: opacity .4s; /* Safari 和 Chrome */
}
/*加载更多按钮*/
.load-more{
    display: none;
    margin: 60px;
    text-align: center;
    overflow: visible;
}
.load-more p{
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #999;
    transition: background-color .3s;
    -moz-transition: background-color .3s;
    -webkit-transition: background-color .3s;
}
.load-more p span{
    color: #999;
    line-height: 50px;
    font-size: 12px;
    transition: color .9s;
    -moz-transition: color .9s;
    -webkit-transition: color .9s;
}
.load-more p em{
    display: none;
    height: 48px;
    width: 48px;
    background: url(https://dn-t2ipo.qbox.me/v3%2Fpublic%2Floading-three-dots.gif) no-repeat center;
    background-size: 28px;
}
.load-more.More p:hover{
    background: #999;
}
.load-more.More p:hover span{
    color: #fff;
}
.load-more.loading,
.load-more.End,
.load-more.More{
    display: block;
}
.load-more.End p{
    cursor: default;
}
.load-more.loading p span{
    display: none;
}
.load-more.loading p em{
    display: inline-block;
}
.load-more.loading p:hover{
    background: #fff;
}
/*弹窗start*/
.global-pop{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(243,243,243,.95);
    transition: opacity .4s;
    -moz-transition: opacity .4s; /* Firefox 4 */
    -webkit-transition: opacity .4s; /* Safari 和 Chrome */
}
.global-pop .box{
    position: fixed;
    width: 400px;
    height: 260px;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    background: #fff;
    margin:auto;
    left:0;
    right:0;
    top:25%;
    overflow: hidden;
}
.global-pop .box .title{
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.global-pop .box h5{
    display: inline-block;
    width: 100%;
    line-height: 50px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 4px;
    float: left;
}
.global-pop .box .img{
    width: 100%;
    margin-top: 40px;
    text-align: center;
    overflow: hidden;
}
.global-pop.error .box .img em{
    display: inline-block;
    height: 80px;
    width: 80px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fstop-hand.png) no-repeat center;
    background-size: 70px;
}
.global-pop.confirm .box .img em{
    display: inline-block;
    height: 80px;
    width: 80px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fquestion-red.png) no-repeat center;
    background-size: 70px;
}
.global-pop.warning .box .img em{
    display: inline-block;
    height: 80px;
    width: 80px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fwarning-mark.png) no-repeat center;
    background-size: 70px;
}
.global-pop.success .box .img em{
    display: inline-block;
    height: 80px;
    width: 80px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fsucces-outline.png) no-repeat center;
    background-size: 70px;
}
.global-pop .box .btn-group{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
}
.global-pop .box .btn-group a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    float: left;
    cursor: pointer;
    transition: background .4s;
    -moz-transition: background .4s; /* Firefox 4 */
    -webkit-transition: background .4s; /* Safari 和 Chrome */
}
.global-pop .box .btn-group .vice{
    background: #999;
}
.global-pop .box .btn-group .main{
    background: #666;
}
.global-pop .box .btn-group a:nth-child(1){
    border-right: 1px solid #fff;
}
.global-pop .box .btn-group a:nth-child(2){
    border-left: 1px solid #fff;
}
.global-pop .box .btn-group a:hover{
    background: #757575;
}
.global-pop.active {
    visibility: visible;
    opacity: 1;
}
.global-pop.one .box .btn-group a{
    border: none;
}
.global-pop.one .box .btn-group .vice{
    display: none;
}
.global-pop.one .box .btn-group .main{
    width: 100%;
}
/*弹窗end*/

/*列表fadein keyframes*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}