.medium {
    font-size: 16px;
    line-height: 1.875
}

.medium h1,
.medium h1 span {
    font-size: 34px
}

.medium h2 {
    font-size: 24px
}

.medium h2 span {
    font-size: 24px
}

.medium h3,
.medium h3 span {
    font-size: 20px
}

.medium embed {
    display: block;
    width: 100%;
    min-height: 503px
}
.medium i{
    font-style: italic;
}
.medium blockquote {
    top: 6px;
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 16px;
    color: #666
}
.medium blockquote p {
    margin-bottom: 14px
}

.medium blockquote:after {
    content: '';
    position: absolute;
    top: 9px;
    bottom: 4px;
    left: 0;
    width: 5px;
    background-color: #EAEEF1
}

.medium a {
    text-decoration: underline;
}

.medium a:hover {
    color: #304ffe;
}

.medium img {
    display: block;
    max-width: 100%;
    margin: 20px auto
}
.medium li{
    float: none;
    display: list-item;
    list-style-position: inside;
}
.medium ol,
.medium ul{
    display: list-item;
    list-style-type: none;
}
.medium ol li{
    list-style-type:  decimal;
}
.medium ul li{
    list-style-type: square;
}
.medium p,
.medium p a,
.medium ul,
.medium pre,
.medium blockquote,
.medium span {
    font-size: 18px;
}

.medium p,
.medium ul {
    margin-bottom: 15px;
}

.medium .author .name {
    float: right;
}

.medium .author .name u {
    display: inline-block;
    width: 28px;
    border-bottom: 1px solid #000;
    height: 17px;
    vertical-align: 6px;
    margin-right: 12px
}

.medium .author .name i {
    font-style: normal;
}
/*重定义编辑器自带样式 "输入文章内容非斜体"*/
.medium-editor-placeholder:after{
    font-style: normal !important;
}
/*重定义编辑器插入图片标注样式*/
.medium-insert-images figure figcaption,
.mediumInsert figure figcaption,
.medium-insert-embeds figure figcaption,
.mediumInsert-embeds figure figcaption {
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    outline: 0 solid transparent;
}