.post_read {
    font-size: 16px;
    line-height: 1.875
}

.post_read h1,
.post_read h1 span {
    font-size: 34px
}

.post_read h2 {
    font-size: 24px
}

.post_read h2 span {
    font-size: 24px
}

.post_read h3,
.post_read h3 span {
    font-size: 18px
}

.post_read embed {
    display: block;
    width: 100%;
    min-height: 503px
}

.post_read blockquote {
    top: 6px;
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 16px;
    color: #040
}

.post_read blockquote p.L a span {
    color: #465D99
}

.post_read blockquote p {
    margin-bottom: 14px
}

.post_read blockquote:after {
    content: '';
    position: absolute;
    top: 9px;
    bottom: 4px;
    left: 0;
    width: 2px;
    background-color: #040
}

.post_read blockquote:before {
    font-family: Arial;
    content: '“';
    position: absolute;
    top: -34px;
    left: -3px;
    font-size: 42px
}

.post_read a {
    color: #139;
    text-decoration: none
}

.post_read a:hover {
    color: #f40;
    border-bottom-color: #f40;
}

.post_read img {
    display: block;
    max-width: 100%;
    margin: 20px auto
}

.post_read p,
.post_read p a,
.post_read ul,
.post_read pre,
.post_read blockquote,
.post_read span {
    font-size: 18px;
    color: #2b2f37;
}

.post_read p,
.post_read ul {
    margin-bottom: 15px;
}

.post_read .author .name {
    float: right;
}

.post_read .author .name u {
    display: inline-block;
    width: 28px;
    border-bottom: 1px solid #000;
    height: 17px;
    vertical-align: 6px;
    margin-right: 12px
}

.post_read .author .name i {
    font-style: normal;
}
