html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, bdi, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Helvetica","Arial","Verdana","sans-serif";
    font-style: inherit;
    font-weight: inherit;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border:0;
    width: 100%;
}
figure{
    margin: 5px 0;
}

li,a{
    overflow:hidden;
}

a{
    text-decoration:none;
}

li{
    list-style-type:none;
    float:left;
}

i {
    font-style:normal;
}
html{
    display: block;
}
body{
    margin: 0;
    padding: 0;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: #fff;
    color: #555;
    font-size: 14px;
}
.default-hide{
    display: none !important;
}