.page-content{
    position: relative;
    width: 100%;
    min-height: 500px;
    padding-left: 310px;
    z-index: 1;
    background: #fdfdfd;
    transition: padding-left .4s;
    -moz-transition: padding-left .4s; /* Firefox 4 */
    -webkit-transition: padding-left .4s; /* Safari 和 Chrome */
}
.page-content .container{
    width: 100%;
    padding: 0 15% 90px 10%;
    text-align: center;
}
.page-content .container .summary{
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    min-height: 150px;
}
.page-content .container .summary .image{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
.page-content .container .summary .image img{
    display: block;
    width: 100%;
    height: auto;
}
.page-content .container .summary .info{
    position: absolute;
    width: 100%;
    height: 140px;
    left: 0;
    bottom:-70px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(253,253,253,0)),color-stop(0.499, rgba(0,0,0,.6)),color-stop(0.5, rgba(253,253,253,1)),color-stop(0.9, rgba(253,253,253,.7)), to(rgba(253,253,253,.0)));
    -webkit-background-origin: padding;
    -webkit-background-clip: content;
}
.page-content .container .summary .info.no-image{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(253,253,253,0)),color-stop(0.499, rgba(107,107,107,.6)),color-stop(0.5, rgba(253,253,253,1)),color-stop(0.9, rgba(253,253,253,.7)), to(rgba(253,253,253,.0)));
    -webkit-background-origin: padding;
    -webkit-background-clip: content;
}
.page-content .container .summary .info .wrap{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 5%;
    overflow: hidden;
}
.page-content .container .summary .info .author{
    display: block;
    float: left;
    margin: 25px 0 0 0;
    width: 300px;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
}
.page-content .container .summary .info .author img{
    display: block;
    float: left;
    width: 80px;
    height: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
}
.page-content .container .summary .info .author .name{
    display: inline-block;
    float: left;
    color: #999;
    margin: 55px 0 0 15px;
    white-space: nowrap;
}
.page-content .container .summary .info .desc{
    min-width: 300px;
    height: 80px;
    margin: 20px 0 0 0;
    float: right;
}
.page-content .container .summary .info .desc .top {
    width: 100%;
    height: 40px;
    text-align: right;
}
.page-content .container .summary .info .desc .top a{
    display: inline-block;
    color: #fff;
    vertical-align: top;
    font-size: 12px;
    margin: 25px 0 0 3px;
}
.page-content .container .title{
    width: 100%;
    margin: 50px auto 0;
    max-width: 900px;
    padding: 0 5%;
}
.page-content .container .title h1{
    font-size: 28px;
    color: #333;
    text-align: left;
}
.page-content .container .title h6{
    font-size: 14px;
    color: #999;
    text-align: left;
    margin-top: 18px;
    line-height: 24px;
}
.page-content .container .tag{
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 5%;
    text-align: left;
}
.page-content .container .tag a{
    font-size: 14px;
    color: #999;
    display: inline-block;
    vertical-align: top;
    padding: 3px 7px;
    text-align: center;
}
.page-content .container .tag em{
    font-size: 14px;
    background: #999;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 3px 7px;
    text-align: center;
}
.page-content .container .tag a:hover{
    background: #999;
    color: #fff;
}
.page-content .container .content{
    display: inline-block;
    max-width: 900px;
    text-align: left;
    margin: 30px 0 70px 0;
    padding: 0 5%;
}
/*点赞 收藏 start*/
.page-content .container .action{
    display: inline-block;
    max-width: 900px;
    text-align: left;
    margin-top: 20px;
    padding: 0 5%;
    width: 100%;
}
.page-content .container .action .wrap{
    width: 100%;
    border-top: 1px solid #eee;
    height: 50px;
    padding: 18px 0;
    overflow: visible;
}
.page-content .container .action .wrap>div{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}
.page-content .container .action .wrap>div a{
    position: relative;
    display: inline-block;
    height: 86px;
    width: 100px;
    padding: 10px 0;
    cursor: pointer;
    text-align: left;
    overflow: visible;
}
.page-content .container .action .wrap>div a i{
    position: absolute;
    font-size: 16px;
    width: 30px;
    left: 28px;
    opacity: 0;
}
.page-content .container .action .wrap>div a em{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Flike-fav.png) no-repeat center;
    transition: transform .2s;
    -moz-transition: -moz-transform .2s; /* Firefox 4 */
    -webkit-transition: -webkit-transform .2s; /* Safari 和 Chrome */
}
.page-content .container .action .wrap>div a span{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    height: 30px;
    line-height: 40px;
    margin-left: 12px;
    color: #999;
}
.page-content .container .action .wrap .active a i{
    animation: floatUp 0.6s ease-out 0s normal forwards;
    -webkit-animation: floatUp 0.6s ease-out 0s normal forwards;
    -moz-animation: floatUp 0.6s ease-out 0s normal forwards;
}
.page-content .container .action .wrap>div a:hover em{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
}
.page-content .container .action .wrap .favorite a i{
    color: #FFBF35;
}
.page-content .container .action .wrap .favorite a span:after{
    content: '收藏';
}
.page-content .container .action .wrap .favorite.active a span:after{
    content: '已收藏';
}
.page-content .container .action .wrap .favorite a em{
    background-size: 66px;
    background-position: -34px -34px;
}
.page-content .container .action .wrap .favorite.active a em{
    background-size: 76px;
    background-position: -42px -2px;
}
.page-content .container .action .wrap .like a i{
    color: #FF4081;
}
.page-content .container .action .wrap .like a span:after{
    content: '点赞';
}
.page-content .container .action .wrap .like.active a span:after{
    content: '已点赞';
}
.page-content .container .action .wrap .like a em{
    background-size: 65px;
    background-position: 1px -32px;
}
.page-content .container .action .wrap .like.active a em{
    background-size: 65px;
    background-position: 1px 0;
}
@keyframes floatUp {
    0% {
        opacity: 0;
        top: 10px;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -40px;
    }
}

@-webkit-keyframes floatUp {
    0% {
        opacity: 0;
        top: 10px;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -40px;
    }
}

@-moz-keyframes floatUp {
    0% {
        opacity: 0;
        top: 10px;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -40px;
    }
}
/*点赞收藏 end*/