/*顶部导航栏start*/
.user-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgba(255,255,255,.8);
    padding-left: 310px;
    min-width: 550px;
    overflow: hidden;
    z-index: 3;
    transition: padding-left .4s;
    -moz-transition: padding-left .4s; /* Firefox 4 */
    -webkit-transition: padding-left .4s; /* Safari 和 Chrome */
}
.user-nav .user-nav-container{
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
.user-nav .user-nav-container .left{
    float: left;
    height: 100%;
    padding: 0 70px;
}
.user-nav .user-nav-container .left a{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    height: 88%;
    line-height: 65px;
    color: #333;
    margin-right: 20px;
}
.user-nav .user-nav-container .left a:hover{
    color: #666;
    border-color: #666;
}
.user-nav .user-nav-container .left a.active{
    border-bottom: 2px solid #999;
}
/*顶部导航栏end*/
/*主内容start*/
.user-content{
    position: relative;
    width: 100%;
    padding-left: 310px;
    z-index: 1;
    overflow: hidden;
    transition: padding-left .4s;
    -moz-transition: padding-left .4s; /* Firefox 4 */
    -webkit-transition: padding-left .4s; /* Safari 和 Chrome */
}
.user-content .container{
    width: 100%;
    min-width: 500px;
    min-height: 500px;
    max-width: 1000px;
    margin:0 auto 0 40px;
    padding: 80px 0 60px 30px;
}
.user-content .container .item-small{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    overflow: hidden;
}
.user-content .container .item-small p{
    display: inline-block;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    float: left;
}
.user-content .container .item-small span{
    display: inline-block;
    height: 30px;
    font-size: 16px;
    margin-top: 5px;
    line-height: 30px;
    color: #999;
    border-radius: 3px;
    padding: 0 20px;
    cursor: not-allowed;
    float: left;
}
.user-content .container .avatar{
    width: 100%;
    margin-top: 30px;
}
.user-content .container .avatar .name{
    height: 40px;
    width: 100%;
}
.user-content .container .avatar .name p{
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
}
.user-content .container .avatar .img{
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
.user-content .container .avatar .img .wrap{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    overflow: hidden;
}
.user-content .container .avatar .img .wrap img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-content .container .avatar .img .wrap input{
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.001;
    z-index: 5;
}
.user-content .container .avatar .img .wrap .error,
.user-content .container .avatar .img .wrap .progress{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(248,248,248,.9);
    top: 0;
    left: 0;
    opacity: 0;
}
.user-content .container .avatar .img .wrap .error{
    z-index: 3;
}
.user-content .container .avatar .img .wrap .progress{
    z-index: 4;
}
.user-content .container .avatar .img .wrap .error.active,
.user-content .container .avatar .img .wrap .progress.active{
    opacity: 1;
}
.user-content .container .avatar .img .wrap .error p,
.user-content .container .avatar .img .wrap .progress p{
    line-height: 100px;
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-right: 27%;
}
.user-content .container .avatar .img .wrap .error p{
    color: #f00;
    margin-right: 22%;
}
.user-content .container .avatar .img .wrap:hover{
    box-shadow: 0 0 2px 0 #999;
}
.user-content .container .item-normal{
    position: relative;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}
.user-content .container .item-normal p{
    display: inline-block;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    float: left;
}
.user-content .container .item-normal input{
    display: inline-block;
    background: #f5f5f5;
    color: #666;
    height: 40px;
    width: 400px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}
.user-content .container .item-normal input:focus{
    outline: none;
}
.user-content .container .item-normal .error{
    position: absolute;
    height: 40px;
    width: 120px;
    left: 280px;
    top: 50px;
    z-index: 1;
    background: rgba(255,64,129,1);
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s;
    -moz-transition: opacity .6s; /* Firefox 4 */
    -webkit-transition: opacity .6s; /* Safari 和 Chrome */
}
.user-content .container .item-normal .error.active{
    visibility: visible;
    opacity: 1;
}
.user-content .container .item-normal .error p{
    display: inline-block;
    float: left;
    font-size: 12px;
    color: #fff;
    height: 100%;
    line-height: 40px;
    width: 100%;
    text-align: center;
}
.user-content .container .item-textarea{
    width: 100%;
    margin-top: 30px;
}
.user-content .container .item-textarea p{
    display: inline-block;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    float: left;
}
.user-content .container .item-textarea textarea{
    display: inline-block;
    color: #666;
    padding: 10px 20px;
    margin-top: 10px;
    width: 400px;
    font-size: 16px;
    line-height: 28px;
    height: 100px;
    background: #f5f5f5;
    border-radius: 3px;
    overflow: hidden;
    resize: none;
    border: none;
}
.user-content .container .item-textarea textarea:focus{
    outline: none;
}
.user-content .container .save{
    width: 100%;
    height: 40px;
    margin-top: 50px;
}
.user-content .container .save .btn-wrap{
    width: 200px;
    height: 100%;
}
/*主内容end*/
/*提交成功按钮start*/
.save-btn{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.save-btn{
    background: #444;
}
.save-btn:hover{
    background: #666;
}
.save-btn em{
    display: none;
    width: 40px;
    height: 40px;
    vertical-align: top;
}
.save-btn span{
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 3px;
    color: #fff;
}
.save-btn.done em,
.save-btn.loading em{
    display: inline-block;
}
.save-btn.loading em{
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fslim-circle.png) no-repeat center;
    background-size: 20px;
    animation: rotating 2s infinite linear;
    -webkit-animation: rotating 2s infinite linear;
    -moz-animation: rotating 2s infinite linear;
}
.save-btn.done em{
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Fmark-white.png) no-repeat center;
    background-size: 20px;
}
.save-btn.done span,
.save-btn.loading span{
    display: none;
}
@-webkit-keyframes rotating {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes rotating {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotating {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
/*提交成功按钮end*/
