.user-mid{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #fafafa;
    left: 60px;
    top: 0;
    z-index: 10;
    transition: left .4s;
    -moz-transition: left .4s; /* Firefox 4 */
    -webkit-transition: left .4s; /* Safari 和 Chrome */
}
.user-mid div{
    width: 100%;
}
/*中栏头部start*/
.user-mid .top{
    margin-top: 50px;
}
.user-mid .top .avatar{
    display: inline-block;
    text-align: center;
}
.user-mid .top .avatar img{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}
.user-mid .top h4{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
    letter-spacing: 3px;
    color: #bdbdbd;
}
.user-mid .top h2{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
    letter-spacing: 2px;
}
.user-mid .top h3{
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    line-height: 20px;
    letter-spacing: 3px;
    padding: 0 8%;
}
.user-mid .top .social{
    height: 30px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 5px;
}
.user-mid .top .social a{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.user-mid .top .social a.weibo{
    background: url(http://7rflu9.com1.z0.glb.clouddn.com/v3/public/weibo.png) no-repeat center;
    background-size: 20px 20px
}
.user-mid .top .social a.email{
    background: url(http://7rflu9.com1.z0.glb.clouddn.com/v3/public/email-1.png) no-repeat center;
    background-size: 20px 20px
}
.user-mid .top .social a.twitter{
    background: url(http://7rflu9.com1.z0.glb.clouddn.com/v3/public/twitter.png) no-repeat center;
    background-size: 20px 20px
}
.user-mid .top .social a.weixin{
    position: relative;
    overflow: visible;
    background: url(http://7rflu9.com1.z0.glb.clouddn.com/v3/public/weixin.png) no-repeat center;
    background-size: 20px 20px
}
.user-mid .top .social a.weixin img{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    left: -41px;
    top: 30px;
    box-shadow: 0 0 5px 0 #000;
    background: #fff;
}
.user-mid .top .social a.weixin:hover img{
    display: inline-block;
}
/*中栏头部end*/
/*中栏中部导航start*/
.user-mid .mid{
    margin-top: 40px;
    padding: 0 70px;
}
.user-mid .mid .container{
    width: 100%;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 0;
    overflow: visible;
}
.user-mid .mid .container a{
    position: relative;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    font-weight: 800;
    overflow: visible;
}
.user-mid .mid .container a span{
    display: inline-block;
    line-height: 22px;
    padding: 0 5px;
}
.user-mid .mid .container a.active span{
    border-bottom: 1px dotted #999;
}
.user-mid .mid .container a:hover span{
    border-bottom: 1px dotted #999;
}
.user-mid .mid .container a em{
    position: absolute;
    display: inline-block;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 12px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 1px 0;
}
/*中栏中部导航end*/