.content-container{
    position: relative;
    width: 100%;
    min-height: 500px;
    padding-left: 60px;
    margin-top: 60px;
    z-index: 1;
    transition: padding-left .4s;
    -moz-transition: padding-left .4s; /* Firefox 4 */
    -webkit-transition: padding-left .4s; /* Safari 和 Chrome */
}
.content-container .tag-container{
    width: 100%;
    padding: 60px 0 0;
}
.content-container .tag-container .tag-wrap{
    margin: 0 auto;
    width: 840px;
    padding-right: 20px;
    border-bottom: 1px solid #eee;
}
.content-container .tag-container .tag-wrap h5{
    font-size: 12px;
    color: #aaa;
    line-height: 20px;
}
.content-container .tag-container .tag-wrap h3{
    font-size: 28px;
    line-height: 55px;
    font-weight: 900;
    color: #888;
}
.content-container .tag-container .tag-wrap p{
    font-size: 12px;
    line-height: 30px;
    text-align: right;
    color: #888;
}
.content-container .tag-container .tag-wrap p b{
    font-size: 18px;
    line-height: 30px;
    color: #888;
}
.content-container .tag-container .filter-wrap{
    width: 840px;
    margin: 20px auto 5px;
}
.content-container .tag-container .filter-wrap .filter{
    display: inline-block;
    height: 40px;
    width: 700px;
    padding: 12px 0 0;
    text-align: left;
    white-space: nowrap;
}
.content-container .tag-container .filter-wrap .filter h3{
    display: inline-block;
    font-size: 12px;
    color: #666;
    vertical-align: top;
    line-height: 28px;
}
.content-container .tag-container .filter-wrap .filter ul{
    display: inline-block;
    height: 28px;
    padding-top: 2px;
}
.content-container .tag-container .filter-wrap .filter ul li{
    display: inline-block;
    height: 24px;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 0 10px;
    margin-right: 5px;
}
.content-container .tag-container .filter-wrap .filter ul li span{
    display: inline-block;
    color: #666;
    font-size: 12px;
    line-height: 24px;
}
.content-container .tag-container .filter-wrap .filter ul li em{
    display: inline-block;
    font-size: 12px;
    color: #666;
    margin-left: 6px;
    cursor: pointer;
}
.content-container .tag-container .filter-wrap .filter ul li em:hover{
    color: #000;
}
/*TAG 列表 start*/
.content-container .list-container{
    width: 100%;
}
.content-container .list-container .filter-wrap{
    width: 840px;
    min-height: 60px;
    background: #f5f5f5;
    margin: 0 auto;
    padding: 18px 16px;
}
.content-container .list-container .filter-wrap .condition-item{
    position: relative;
    padding: 0 80px 0 40px;
    width: 100%;
    white-space: nowrap;
}
.content-container .list-container .filter-wrap .condition-item h3{
    position: absolute;
    display: inline-block;
    left: 0;
    top:0;
    font-size: 12px;
    font-weight: 900;
    line-height: 24px;
    color: #333;
    vertical-align: top;
}
.content-container .list-container .filter-wrap .condition-item ul{
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    width: 100%;
    height: 24px;
    overflow: hidden;
}
.content-container .list-container .filter-wrap .condition-item.all ul{
    min-height: 55px;
}
.content-container .list-container .filter-wrap .condition-item ul li{
    display: inline-block;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 0 10px;
    margin: 0 5px 4px 0;
}
.content-container .list-container .filter-wrap .condition-item ul li span{
    display: inline-block;
    color: #666;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
}
.content-container .list-container .filter-wrap .condition-item ul li.active span,
.content-container .list-container .filter-wrap .condition-item ul li span:hover{
    color: #6e8cfb;
}
.content-container .list-container .filter-wrap .condition-item a{
    position: absolute;
    display: inline-block;
    right: 5px;
    top: 0;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 0 0 0 6px;
    border: 1px solid #ccc;
}
.content-container .list-container .filter-wrap .condition-item a span{
    color: #666;
    font-size: 12px;
    line-height: 24px;
    vertical-align: top;
}
.content-container .list-container .filter-wrap .condition-item a span:before{
    content: '全部';
}
.content-container .list-container .filter-wrap .condition-item.all a span:before{
    content: '收起';
}
.content-container .list-container .filter-wrap .condition-item a em{
    display: inline-block;
    width: 24px;
    height: 24px;
    opacity: .8;
    vertical-align: top;
    background: url(http://dn-t5ipo.qbox.me/double-arrow-down-24.png) no-repeat center;
    background-size: 10px;
    transition: transform .2s;
    -moz-transition: -moz-transform .2s;
    -webkit-transition: -webkit-transform .2s;
}
.content-container .list-container .filter-wrap .condition-item.all a em{
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}
.content-container .list-container .list-wrap {
    width: 900px;
    min-height: 200px;
    margin: 0 auto;
}
.content-container .list-container .item{
    display: inline-block;
    padding: 18px 0 10px 30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
    animation: fadeIn 0.7s linear 0s normal forwards;
    -webkit-animation: fadeIn 0.7s linear 0s normal forwards;
    -moz-animation: fadeIn 0.7s linear 0s normal forwards;
}
.content-container .list-container .item.visible{
    visibility: visible;
}
.content-container .list-container .item .item-wrap{
    display: inline;
    padding: 0 0 18px;
    border-bottom: 1px solid #eee;
}
.content-container .list-container .item .info{
    display: inline-block;
    width: 65%;
    vertical-align: baseline;
    padding-right: 20px;
}
.content-container .list-container .item .info .tags{
    width: 100%;
    height: 25px;
    line-height: 25px;
}
.content-container .list-container .item .info .tags a{
    display: inline-block;
    font-size: 12px;
    height: 100%;
    margin-right: 5px;
}
.content-container .list-container .item .info .title{
    line-height: 24px;
    font-size: 16px;
    white-space: normal;
    font-weight: 600;
    color: #424242;
}
.content-container .list-container .item .info .title:hover{
    color: #999;
}
.content-container .list-container .item .info .summary{
    line-height: 24px;
    margin-top: 10px;
    min-height: 50px;
    font-size: 13px;
    white-space: normal;
    color: #666;
}
.content-container .list-container .item .info .social{
    width: 100%;
    height: 50px;
    padding: 12px 0;
}
.content-container .list-container .item .info .social a:hover span{
    color: #000;
}
.content-container .list-container .item .info .social .author{
    display: inline-block;
    height: 100%;
}
.content-container .list-container .item .info .social .author img{
    width: 26px;
    height: 26px;
}
.content-container .list-container .item .info .social .author span{
    display: inline-block;
    height: 100%;
    line-height: 36px;
    vertical-align: top;
    font-size: 12px;
    color: #999;
    margin-left: 5px;
}
.content-container .list-container .item .info .social p{
    display: inline-block;
    height: 100%;
    line-height: 36px;
    vertical-align: top;
    font-size: 12px;
    color: #999;
    margin-left: 5px;
}
.content-container .list-container .item .info .social .inter{
    display: inline-block;
    height: 100%;
    margin-left: 5px;
}
.content-container .list-container .item .info .social .inter em{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 6px;
}
.content-container .list-container .item .info .social .inter span{
    display: inline-block;
    height: 100%;
    line-height: 36px;
    vertical-align: top;
    font-size: 12px;
    color: #999;
    margin-left: 5px;
}
.content-container .list-container .item .image{
    display: inline-block;
    vertical-align: top;
    height: inherit;
    margin-left: 5%;
    min-width: 200px;
    max-height: 150px;
    overflow: hidden;
}
.content-container .list-container .item .image img{
    display: inline-block;
    margin-top: 30px;
    width: 200px;
    max-width: 210px;
    height: auto;
}
/*TAG 列表 end*/