.page-content{
    position: relative;
    width: 100%;
    min-height: 500px;
    padding-left: 310px;
    z-index: 1;
    background: #fdfdfd;
    transition: padding-left .4s;
    -moz-transition: padding-left .4s; /* Firefox 4 */
    -webkit-transition: padding-left .4s; /* Safari 和 Chrome */
}
.page-content .container{
    width: 100%;
    padding: 0 15% 90px 10%;
    text-align: center;
}
.page-content .container .summary{
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    min-height: 150px;
}
.page-content .container .summary.no-image{
    border-bottom: 1px solid #ccc;
}
.page-content .container .summary .image{
    width: 100%;
    overflow: hidden;
}
.page-content .container .summary .image img{
    display: block;
    width: 100%;
    height: auto;
}
.page-content .container .summary.no-image .image img{
    display: none;
}
.page-content .container .summary .info{
    position: absolute;
    width: 100%;
    height: 140px;
    left: 0;
    bottom:-70px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(253,253,253,0)),color-stop(0.499, rgba(0,0,0,.6)),color-stop(0.5, rgba(253,253,253,1)),color-stop(0.9, rgba(253,253,253,.7)), to(rgba(253,253,253,.0)));
    -webkit-background-origin: padding;
    -webkit-background-clip: content;
}
.page-content .container .summary.no-image .info{
    background: none;
}
.page-content .container .summary .info .wrap{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 5%;
    overflow: hidden;
}
.page-content .container .summary .info .author{
    display: block;
    float: left;
    margin: 25px 0 0 0;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
}
.page-content .container .summary .info .author img{
    display: block;
    float: left;
    width: 80px;
    height: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
}
.page-content .container .summary.no-image .info .author img{
    border: 1px solid #ccc;
}
.page-content .container .summary .info .author .name{
    display: inline-block;
    float: left;
    color: #999;
    margin: 55px 0 0 15px;
    white-space: nowrap;
}
.page-content .container .summary .info .desc{
    min-width: 300px;
    height: 80px;
    margin: 20px 0 0 0;
    float: right;
}
.page-content .container .summary .info .desc .top {
    width: 100%;
    height: 40px;
    text-align: right;
}
.page-content .container .summary .info .desc .top a{
    display: inline-block;
    color: #fff;
    vertical-align: top;
    font-size: 12px;
    margin: 25px 0 0 3px;
}
.page-content .container .summary.no-image .info .desc .top a{
    color: #999;
}
.page-content .container .title{
    width: 100%;
    margin: 50px auto 0;
    max-width: 850px;
    padding: 0 5%;
}
.page-content .container .title h1{
    font-size: 36px;
    color: #333;
    text-align: left;
    line-height: 45px;
}
.page-content .container .title h6{
    font-size: 14px;
    color: #999;
    text-align: left;
    margin-top: 14px;
    line-height: 24px;
}

.page-content .container .handle{
    width: 100%;
    height: 70px;
    margin: 15px auto 0;
    max-width: 850px;
    padding: 0 5%;
    overflow: visible;
}
.page-content .container .handle .handle-wrap{
    width: 100%;
    height: 100%;
}
.page-content .container .tag{
    display: inline-block;
    padding: 20px 0;
    float: left;
    text-align: left;
}
.page-content .container .tag a{
    font-size: 14px;
    color: #999;
    display: inline-block;
    vertical-align: top;
    padding: 3px 7px;
    text-align: center;
}
.page-content .container .tag em{
    font-size: 14px;
    background: #999;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 3px 7px;
    text-align: center;
}
.page-content .container .tag a:hover{
    background: #999;
    color: #fff;
}
.page-content .container .content{
    display: inline-block;
    max-width: 850px;
    text-align: left;
    margin: 30px 0 0;
    padding: 0 5%;
}
/*广告 start*/

.page-content .container .ad-article-image{
    display: inline-block;
    max-width: 850px;
    width: 100%;
    text-align: left;
    margin: 10px 0;
    padding: 0 5%;
}

.page-content .container .ad-article-image a{
    display: inline-block;
    width: 100%;
}
.page-content .container .ad-article-image img{
    display: inline-block;
    width: 100%;
}
.page-content .container .ad-article-text{
    display: inline-block;
    max-width: 850px;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    margin: 10px 0;
    padding: 0 5%;
}

.page-content .container .ad-article-text span{
    display: inline-block;
    line-height: 25px;
    padding: 0 7px;
    background: #ff4081;
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: left;
}
.page-content .container .ad-article-text a{
     display: inline;
     text-decoration: underline;
     overflow: hidden;
 }
.page-content .container .ad-article-text p{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    white-space: normal;
    color: #666;
}
.page-content .container .ad-article-text a:hover{
    color: #6e8cfb;
}
/*广告 end*/
/*点赞 收藏 微信分享start*/
.page-content .container .action{
    display: inline-block;
    padding: 7px 0;
    float: right;
}
.page-content .container .action .wrap{
    width: 100%;
    height: 50px;
    overflow: visible;
}
.page-content .container .action .wrap>div{
    height: 100%;
    float: left;
    text-align: center;
}
.page-content .container .action .wrap>div a{
    position: relative;
    display: inline-block;
    height: 50px;
    min-width: 80px;
    padding: 10px 0;
    cursor: pointer;
    text-align: left;
    overflow: visible;
}
.page-content .container .action .wrap>div a i{
    position: absolute;
    font-size: 16px;
    width: 30px;
    left: 28px;
    opacity: 0;
}
.page-content .container .action .wrap>div a em{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Flike-fav.png) no-repeat center;
    transition: transform .2s;
    -moz-transition: -moz-transform .2s; /* Firefox 4 */
    -webkit-transition: -webkit-transform .2s; /* Safari 和 Chrome */
}
.page-content .container .action .wrap>div a span{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    height: 30px;
    line-height: 40px;
    margin-left: 12px;
    color: #999;
}
.page-content .container .action .wrap .active a i{
    animation: floatUp 0.6s ease-out 0s normal forwards;
    -webkit-animation: floatUp 0.6s ease-out 0s normal forwards;
    -moz-animation: floatUp 0.6s ease-out 0s normal forwards;
}
.page-content .container .action .wrap>div a:hover em{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
}
.page-content .container .action .wrap .favorite a i{
    color: #FFBF35;
}
.page-content .container .action .wrap .favorite a em{
    background-size: 66px;
    background-position: -34px -34px;
}
.page-content .container .action .wrap .favorite.active a em{
    background-size: 76px;
    background-position: -42px -2px;
}
.page-content .container .action .wrap .like a i{
    color: #FF4081;
}
.page-content .container .action .wrap .like a em{
    background-size: 65px;
    background-position: 1px -32px;
}
.page-content .container .action .wrap .like.active a em{
    background-size: 65px;
    background-position: 1px 0;
}
.page-content .container .action .wrap .weixin{
    position: relative;
}
.page-content .container .action .wrap .weixin a em{
    background: url(http://dn-noman.qbox.me/weixin.png) no-repeat center;
    background-position: 0 -32px;
    background-size: 28px;
}
.page-content .container .action .wrap .weixin.active a em{
    background-position: 0 4px;
    background-size: 28px;
}
.page-content .container .action .wrap .weixin div{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    left: -24px;
    top: -100px;
    border: 3px solid #ccc;
    box-shadow: 0 0 5px 0 #000;
    background: #fff;
    overflow: visible;
}
.page-content .container .action .wrap .weixin div img{
    width: 100%;
    height: 100%;
}
.page-content .container .action .wrap .weixin b{
    content: '';
    position: absolute;
    display: none;
    left: 18px;
    bottom: 42px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #aaa;
}
.page-content .container .action .wrap .weixin span{
    margin-left: 4px;
}
.page-content .container .action .wrap .weixin:hover b,
.page-content .container .action .wrap .weixin:hover div{
    display: block;
}
@keyframes floatUp {
    0% {
        opacity: 0;
        top: 10px;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -40px;
    }
}

@-webkit-keyframes floatUp {
    0% {
        opacity: 0;
        top: 10px;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -40px;
    }
}

@-moz-keyframes floatUp {
    0% {
        opacity: 0;
        top: 10px;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -40px;
    }
}
/*点赞收藏 微信分享 end*/

.page-content .container .comment-container{
    width: 100%;
    margin: 40px auto 0;
    max-width: 850px;
    padding: 0 5% 100px;
    overflow: visible;
}

.comment{
    width: 100%;
}
.comment textarea{
    border-radius: 3px;
    font-size: 14px;
    resize: vertical;
    color: #666;
}
.comment .left{
    float: left;
}
.comment .right{
    float: right;
}
.comment .divider{
    margin:  0 8px;
}
.comment .normal{
    color: #999;
}
.comment .right-space{
    margin-right: 8px;
}
.comment .left-space{
    margin-left: 2px;
}
.comment .link{
    color: #6e8cfb;
    cursor: pointer;
}
.comment .link:hover{
    color: #335CF5;
}
.comment .submit{
    width: 100%;
    height: 50px;
    padding: 10px 0 0 70px;
    overflow: hidden;
}
.comment .submit a{
    display: inline-block;
    font-size: 12px;
    background: #999;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    cursor: not-allowed;
    float: right;
}
.comment .submit.active a{
    background: #444;
    cursor: pointer;
}
.comment .submit.active a:hover{
    background: #000;
}
.comment .submit p{
    display: inline-block;
    font-size: 12px;
    color: #ccc;
    height: 30px;
    line-height: 30px;
    float: left;
}
.comment .handle-btn{
    margin-left: 10px;
    cursor: pointer;
    color: #999;
}
.comment .handle-btn.active,
.comment .handle-btn:hover,
.comment .handle-btn:hover span{
    color: #000;
}
.comment .comment-user {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.comment .comment-user .comment-input{
    position: relative;
    width: 100%;
    padding: 20px 0 20px 10px;
}
.comment .comment-user .comment-input .avatar{
    position: absolute;
    left: 0;
    top:0;
    padding: 20px 20px 0 0;
    width: 80px;
    height: 100%;
}
.comment .comment-user .comment-input .avatar img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #eee;
}
.comment .comment-user .comment-input .textarea{
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 70px;
}
.comment .comment-user .comment-input .textarea textarea{
    width: 100%;
    min-height: 140px;
    max-height: 260px;
    border: 1px solid #eee;
    padding: 16px 20px;
}
.comment .comment-user .comment-input .textarea textarea:focus{
    outline: none;
}
.comment .comment-user .comment-input .textarea .not-login{
    display: none;
    position: absolute;
    height: 100%;
    width: 90%;
    left: 70px;
    top: 0;
    background: rgba(255,255,255,.5);
}
.comment .comment-user .comment-input .textarea .not-login h5{
    display: inline-block;
    margin-top: 10%;
    width: 100%;
    font-size: 14px;
    color: #999;
}
.comment .comment-user .comment-input .textarea .not-login h5 a{
    color: #6e8cfb;
    margin: 0 5px;
    text-decoration: underline;
    cursor: pointer;
}
.comment .comment-user .comment-input .textarea .not-login.active{
    display: block;
}
.comment .comment-sort{
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.comment .comment-sort a{
    display: inline-block;
    line-height: 34px;
    font-size: 14px;
    margin-right: 20px;
    float: left;
    color: #666;
    cursor: pointer;
}
.comment .comment-sort a.active{
    border-bottom: 2px solid #6e8cfb;
}
.comment .comment-sort a:hover{
    opacity: .7;
}
.comment .comment-list{
    width: 100%;
}
.comment .comment-list .comment-item{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    animation: fadeIn 0.7s linear 0s normal forwards;
    -webkit-animation: fadeIn 0.7s linear 0s normal forwards;
    -moz-animation: fadeIn 0.7s linear 0s normal forwards;
}
.comment .comment-list .comment-item .avatar{
    position: absolute;
    left: 0;
    top:0;
    width: 40px;
    height: 100%;
}
.comment .comment-list .comment-item .avatar img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #eee;
}
.comment .comment-list .comment-item .comment-body{
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 50px;
}
.comment .comment-list .comment-item .comment-body .head{
    width: 100%;
    height: 30px;
}
.comment .comment-list .comment-item .comment-body .head a,
.comment .comment-list .comment-item .comment-body .head span{
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
}
.comment .comment-list .comment-item .comment-body .text{
    position: relative;
    width: 100%;
    padding: 5px 50px 5px 0;
    min-height: 50px;
}
.comment .comment-list .comment-item .comment-body .text p{
    font-size: 13px;
    text-align: left;
    line-height: 22px;
    color: #666;
}
.comment .comment-list .comment-item .comment-body .text .like{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
}
.comment .comment-list .comment-item .comment-body .text .like em{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px 0 0 10px;
    background: url(http://dn-t2ipo.qbox.me/v3%2Fpublic%2Flike-fav.png) no-repeat center;
    background-size: 50px;
    background-position: 4px -22px;
    transition: transform .2s;
    -moz-transition: -moz-transform .2s;
    -webkit-transition: -webkit-transform .2s;
}
.comment .comment-list .comment-item .comment-body .text .like.active em{
    background-size: 60px;
    background-position: 1px 0;
}
.comment .comment-list .comment-item .comment-body .text .like:hover em{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
.comment .comment-list .comment-item .comment-body .foot{
    width: 100%;
}
.comment .comment-list .comment-item .comment-body .foot .foot-origin{
    width: 100%;
    padding-right: 4px;
    overflow: hidden;
}
.comment .comment-list .comment-item .comment-body .foot .foot-origin a,
.comment .comment-list .comment-item .comment-body .foot .foot-origin span{
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    vertical-align: top;
}
.comment .comment-list .comment-item .comment-body .foot .reply{
    display: none;
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 30px 4%;
    background: #f5f5f5;
}
.comment .comment-list .comment-item .comment-body .foot .reply.active{
    display: block;
}
.comment .comment-list .comment-item .comment-body .foot .reply:before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    right: 6px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ccc;
}
.comment .comment-list .comment-item .comment-body .foot .reply .reply-wrap{
    position: relative;
    width: 100%;
}
.comment .comment-list .comment-item .comment-body .foot .reply .reply-wrap .textarea{
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 70px;
}
.comment .comment-list .comment-item .comment-body .foot .reply .reply-wrap .textarea textarea{
    width: 100%;
    min-height: 100px;
    max-height: 160px;
    border: 1px solid #eee;
    padding: 16px 20px;
}
.comment .comment-list .comment-item .comment-body .foot .reply .reply-wrap .textarea textarea:focus{
    outline: none;
}
.comment .comment-list .comment-item .comment-body .sub-comment-container{
    display: none;
    position: relative;
    width: 100%;
    margin-top: 3px;
    background: #f5f5f5;
    padding: 30px 4%;
}
.comment .comment-list .comment-item .comment-body .sub-comment-container:before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    right: 45px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ccc;
}
.comment .comment-list .comment-item .comment-body .sub-comment-container.alone:before{
    right: 15px;
}
.comment .comment-list .comment-item .comment-body .sub-comment-container.active{
    display: block;
}
.comment .comment-list .comment-item .comment-body .sub-comment{
    position: relative;
    width: 100%;
}
.comment .comment-list .comment-item .comment-body .sub-comment-container .foot .reply{
    background: #eee;
}